
.ctn-share {
    margin-top: 0em; }
  .ctn-share .share li {
      display: inline-block; }


 }


/*tabs*/

.tabs li{
  width: 28.6% !important;
      
}
.tabs li span{
  display: none !important;
}
.registroStyle{
	width: 42%;
}
