
  .logoRegistro{width: 100%;}
  .nav-tabs > li {font-size: 2em;}
  .menu-secundario {position: relative;margin-top: 100px;}
  .logo-blanco{width: 60%;
      margin: inherit;
      margin-left: 1em;

    }
    .glyphicon-cog{
      margin-right: 2em;
    }
    .desaparece{
      display: none;
    }
    .text-contener{
      margin-top: 1em;
    }
    .user-icon {
      width: auto;
    }

    .FlipShare svg,.FlipPause svg,.FlipCampana svg{
      fill: white;
      width: 77px;
      height: 53px;
      background-color: #666;
      /*margin: 6px;*/
    }

    .botonesStream{
      margin-top: 2em;
    }

    .podcasts-play li{

      width: 23.2%;


    }
    .play-season ul li a{

      /*font-size: 1.2em;*/
    }

    .play-season ul li{

      font-size: 1em !important;
    }
/*Boton de play*/
  /*  #pause,#Play{
      display: none;
      visibility: hidden;
    }
    #btnPlay,#btnPause{
      cursor: pointer;
    }*/

    /*Estilo  de nav 2*/
      .navegacion-superior{
       height: auto;
      }
    .navegacion-superior nav ul li img{
      width: 100%;
    }
    .navegacion-superior nav .ediciones{
      padding: 5px;
      text-align: center;
      position: relative;
      margin-top: 39px;
      width: 49%;
      float: left;
      box-sizing: border-box;
    }


    .navegacion-superior nav  ul li > ul{
      display: none;
      position: fixed;
      top: 83px;
      background: #666;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 1;


    }

    .navegacion-superior nav .logo-mod{
      position: absolute;
      top:-12px;
      margin-top: 15px;
      margin-left: 13%;
      width: 80%;

    }

    .navegacion-superior nav ul .logo-mod .logoInterior{
      width: 54%;

    }


    .navegacion-superior nav ul > li > a{
      padding: inherit;
      line-height: 30px;

    }
    .navegacion-superior nav .ediciones .ajustes-menu, .navegacion-superior nav .ediciones ul.ajustesInfo {
     width: auto;
    }

.navegacion-superior nav .ediciones .ajustes-menu{
   left: 0;

}

    .navegacion-superior nav .ediciones img {
    width: 20% !important;
    }

    .icon{
      padding-left: 38px;
      line-height: 45px;
      height: 52px;
      padding: 23px;
    }

    .seguidores {

    padding-bottom: 11px;
    width: 28.666% !important;
    font-size: 11px;
    padding-top: 11px;
    margin-top: 1em;
  }

    .personal{
     left: 0;
     top: 0px;
     background: rgba(0,0,0,0.8);
    }

    .TabsNav .TabsNavBtn .TabsNavBtnLink span{
          display: none;
          text-indent: -9999px;
        }


.podcasts{
  width: 100% !important;
}

.podcastsImg{
   width: 100%;
}

.No_movil{
   position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.No_movil img{
  position: relative;
  top: 50%;

  transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}

.texto_no_movil{
   font-size: 2.2em;
  font-family: 'TradeGothicLTPro-Bold', Verdana;
  text-transform: uppercase;


}
/*Estilos de usuario en general*/
.BtnUsuario [id^="BtnUser"]:checked + #BtnUse1 span{
  text-indent: 0;
  display: block;
  left: 0;
}
.BtnUsuario [id^="BtnUser"]:checked + #BtnUse1 .fa-user{
  display: none;
  text-indent: -9999px;


}
#BtnUse1 span{
  text-indent: -9999px;
  display: none;
  left: 0;
}
#BtnUse1 .fa-user{
  display: block;
  text-indent: 0;
  font-size: 3em;
  padding: 5px;
}



/**/

.text-contener{
  padding: 1em;
}
.ctn-share .share{
  margin-left: 0px;
  box-sizing: border-box;
  width: 216px;
}
.ctn-share .share li{
   margin: 11px 3px 1px 0px;
   width: 48px;
}

.icons{
  margin: -44px 0 0 -5px;
}
.header{
  height: 121px;
}
#usuario{
  margin-top: 4.3em;
  width: 33.33%;
  text-align: center;
  border: 0px;
}

.LogoConvoy{
  position: absolute;
  left: 20%;
}
.setNav{
  margin-top: 4.3em;
  width: 33.33%;

}
.setNav{
  border-left: 0px;
}
.TabsNav{
  top: 121px;
}
/*podcasts*/
.podcasts{
  width: 100%;
}
.podcastsImg{
  width: 100%

}
/*est*/

.BtnUsuario [id^="BtnUser"]:checked + #BtnUse1{
  z-index: 1;
}


/**Flipster*/


.flipster-coverflow .flip-item {
    width: 72%;
}

/*ESuper*/
.ESuper{
  margin-top: 7em;
}

/*Estilos hegiht personal*/
.heightPersonal{

  height: 500px;
}


/*Menu generalizado de*/


.activity .fol{
  position: relative;

}
.activity .fol span{
  position: relative;
  margin-left: -12em;
}
.activity li a{
  line-height: 37px;
}

.activity > li > a img{
  position: absolute;
  left: 0;

}

.btnCancelar{
  position: absolute;
  margin: 5px 0px 5px 14em;
}


/*Buscador*/
.ResultadoLista .ResultadoListaList .ResultadoListaLink .ResultadoListaImg{
  margin-right: 10px;
}
.iconPodcasts{
  top: 6px;
}


/*Podcass*/


.podcastsPlay, .podcasts-season{
  width: 100% !important;
}


#playlist li .tituloPodcastsBase{
  width: 148px;
}

/*Menu app*/
.BtnUsuario .Btnctn{

  top: 8.2em;
}
section.heightPersonal{
  overflow-y: scroll;
}
.MenuSettingInterior{
  overflow-y: scroll;
  height: 425px;
}
