
   .navegacion-superior nav ul .logo-mod .logoInterior {
    width: 100%;
   }

   .ctn-share {
    margin-top: -1em;
    margin-left: -1.1em;}

  .nav-tabs > li {
      font-size: 1.3em;

      }
      .menu-secundario {
        position: relative;
        margin-top: 50px; }
    .TabsNav .TabsNavBtn .TabsNavBtnLink span{
          display: none;
          text-indent: -9999px;
        }

       .podcasts{

      width: 48%;
    }

    .podcastsImg{
       width: 100%;


    }
    .podcastsTexto{

      width: auto;


    }

    .ediciones{
     width: 100%;

    }

.ctn-share .share{
  margin-left: 0;
}
.ESuper{
  margin-top: 2em;
}
  .navegacion-superior nav .ediciones .ajustes-menu, .navegacion-superior nav .ediciones ul.ajustesInfo{
  width: 100%;
}



.navegacion-superior nav .ediciones .ajustes-menu{
   left: 0;

}
   .tabs-info-2{
     margin-top: 18px;
   }
    .tabs li .tabsTitulos span{
   display: none;
   text-indent: -9999px;

}

.contenidoTab{
  margin-top: 0px;
}
.tabs li{
  width: 31%;
}
.seguidores{
  padding-top: 11px;
  padding-bottom: 9px;
}
.ImgLinkIconos{
    width: 60px !important;
    height: 60px !important;
}
.podcastsPlay, .muestra-noti{
      width: 98%;

    }

    .podcasts-season{
      width: 100%;
    }

    .play-season ul li a{
      font-size: 1.5em;
    }


   .form{
    width: 99%;

  }
  .FormularioPago{
    width: 98%;
    margin: 0px auto;
  }
  .FormularioPagoContenedor{}
  .FormularioPagoContenedor .Tarjetas{
    width: 100%;
  }
  .FormularioPagoContenedor .Tarjetas .TarjetasCredito,
  .FormularioPagoContenedor .Tarjetas .TarjetasDebito{
    display: block;
    width: 100%;
  }

  /*Imagenes*/
   .Credito{
     width: auto;
     display: block;

   }

   .Debito{
     width: auto;
     display: block;
     background-size: 97%;
     margin: 15px auto;

   }

  .FormularioCampos{
     width: 100%;
  }

.FormularioCamposBloque{
  display: block;

  width: 100%;
}
.FormulariosCamposExpira label{
  display: block;
}

.CamposExpira{
  display: block;
  width: 100%;

}
.FormulariosCamposExpira, .FormularioCamposCodigo{
  display: block;

  width: 100%;

}

.FormularioCamposCodigo input{
  width: 100%;
  display: block;

}

.FormularioCamposOpenpay{
  width: 100%;
}
.FormularioCamposOpenpay .logo, .FormularioCamposOpenpay .shield{
  display: block;
  width: auto;

}

.FormularioCamposOpenpay p{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.CVV{
  background: url(../img/cvv.png)no-repeat;
  width: 90%;
  text-align: center;
  margin: 10px auto;
  display: block;
}


.Security{
  background: url(../img/security.png)no-repeat;
  display: block;
  text-align: center;
  width: 13%;
  margin: 0 auto;

}
.logoOpenpay{
  background: url(../img/openpay.png)no-repeat;
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;


}
/*Botonera header*/

.BtnUsuario #BtnUse1 span{
  font-size: 1.8em;
  top: 0.5em;

}

#usuario + .BtnUsuario [id^="BtnUser"]:checked {

  width: 83%;
}
.BtnUsuario .Btnctn {
  width: 100%;
  top: 4.2em;
  z-index: 1;
  left: -770px;

}
.BtnUsuario [id^="BtnUser"]:checked + #BtnUse1{
  position: absolute;
  top: -1px;

}

.BtnUsuario [id^="BtnUser"]:checked + #BtnUse1 span{
 font-size: 2em;
  top: 0em;

}
.setNav [id^="set"]:checked + #SetLabel2{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
}
#SetLabel2 span{
  display: none;
  position: absolute;
  left: 2em;
  font-size: 3em;
  top: 0.2em;
}
.setNav [id^="set"]:checked + #SetLabel2 span{
    display: inline-block;
}


.setNav [id^="set"]:checked + #SetLabel1{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
}
#SetLabel1 span{
  display: none;
  position: absolute;
  left: 2em;
  font-size: 3em;
  top: 0.2em;
}
.setNav [id^="set"]:checked + #SetLabel1 span{
    display: inline-block;
}
.MenuSearch,.MenuSettings{
  width: 100%;
  right: -770px;
}
.LogoConvoy img{
  padding-right: 0;
  margin-right: 0;
}

/*podcasts*/
#podca{
  position: relative;
  margin-top: 5.5em;

}

.registroStyle{
  width: 40%;
}
