@import url(../font-awesome/css/font-awesome.css);
@import url(../fonts/dinblack/stylesheet.css);
@import url(../fonts/trade/MyFontsWebfontsKit.css);
@import url(animate.css);
@import url(jquery.flipster.css);

/*Colores #0f85fa azul #0a0607 negro */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover{cursor:pointer !important;}
a, button, div{
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -o-user-select: none !important;
}
button, input{
    outline : 0;
    -moz-outline : 0;
    border : 0
}
body {
  background: #000;
  color: #0f85fa;
  /*font-family: "Fjalla One", sans-serif;
  /*font-family: 'Trade Gothic LT', Verdana;*/
  font-family: 'TradeGothicLTPro-Bold', Verdana;
	font-weight: normal;
	font-style: normal;


  /*Formulario */ }
label{font-weight:normal;}
.form-control {
    border-radius: 0px;
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 1.2em;
    height: 50px; }

.form-per {
  /*height: 50px;*/
  font-size: 1.2em;
  color: #0a0607;
  margin: 1px 0 17px 0; }

.f {
  padding: 18px 12px; }
.p{
  padding: 14px 12px;
}
.d{
     background-size: cover !important;
	 height: 77px !important;
	 width: 221px !important;

}
/*Estilo boton */
.btn-convoy-enter {
  /*background: #0f85fa */
  background: transparent;
  background-image: url(../img/btn-c.png);
  background-repeat: no-repeat;
  display: block;
  color: #0a0607;
  width: 180px;
  height: 66px;
  background-size: contain;
  margin: auto;
  /*font-size: 1.4em;*/
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900; }
.logoRegistro{
 width: 100%;
 max-width: 350px;
}
a{
  color: #0f85fa !important;
}

#startSession.btn-convoy-enter{font-size:16px;}


a:hover{
  color: #fff !important;
}
.up-letter {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 9px;
  /*navegaci├│n general de avanzce */ }

.navbar-inverse {
  background: #0f85fa !important;
  /*Logo de contenido */ }

.logo-blanco {
  width: 12%;
  padding-top: 11px;
  margin: auto; }
.modal-content{
  background-color: #000;
  border: 1px solid #eee;
}
.modal-title{
  color: #000;
}
.modal-body h2{
  color: #000;
}
.close{
  color: #fff;

}
.close:hover{
  color: #fff;
}

.ColorWhite{
  color: white;
}
/*Contenedor */
.text-contener {
  background: #fff;
  color: #000;
  padding: 2em;
  margin-top: 5em;
  position: relative;
  letter-spacing: 2px; }
.text-contener:first-child{
  font-family: 'dinRegular';
}
.ctn-share {
  margin-top: 0em; }

.ctn-share .share {
  padding: 0;
  list-style: none;
  position: relative;
  height:60px;
  margin-left:  -15px;}

.ctn-share .share li {
  background: #fff;
  /* margin: 10px 0px 10px 0px;*/
  margin: 3px 0px 10px 0px;
  /*width: 42px;*/
  height: 20px;
  /*width: 60px;*/
  width:32%;
  display: inline-block; }

.ctn-share .share li a {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 2.4em;
  text-align: left; }

/**** */
.font-pers {
  font-family: 'dinregular';
  padding-top: 8px;
  margin-top: 12px;
  font-size: 1.3em;
  /*Estilos bootstrap */ }

.navbar-inverse .navbar-nav > li > a {
  color: #fff; }

.menu-secundario {
  position: relative;
  margin-top:  2em; }

.hid {
  display: none; }
.nav-tabs{
   border-bottom: none;
   padding: 0;
   margin: 0;
}

.nav-tabs > li {
    text-align: center;
    font-size: 2em;
    width: 33.3333%;
    box-sizing: border-box;
    }
.nav-tabs > li > a{
  border-radius: 0px !important;
  color: #333;
  background:#666;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #000;
    border: 1px solid #000;
    border-bottom-color: transparent;
}

/*usuario icono*/
.user-icon{
  width: 400px;
  color: #000 !important;
  border-right: 1px solid #333;

}
.user-icon img, .user-icon span{
  display: inline-block;
}
.user-icon img{
  width: 13%;
}
.user-icon span{
  padding: 15px;
  font-size: 1.8em


}
.navbar-nav{

}
.navbar-nav > li > a
{
  /*padding-bottom: 8px;
  padding-top: 8px;*/
}
/*.nav-info{
  box-sizing: border-box;
  padding: 15px;
  width: 100%;

}*/

/*.glyphicon-cog{
  padding: 17px;
}*/
/*nav info de los usuarios*/
 /*.nav-info{
  display: none;
  background: #4d4d4d;

  position: absolute;
  height: auto;
  z-index: 2;
  width: 100%;
  margin-top: -4em;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  box-sizing: border-box;
  padding: 15px;
  opacity: 0;
  min-width: 140px;


}*/
/*a.class_a_href{
pointer-events: none;
cursor: default;
}
*/

.tabs-info > .nav-tabs{
  padding: 0 ;
  margin: 0;
}
.tabs-info > .nav-tabs > li{
  font-size: 0.9em;
  text-align: center;
}
.tabs-info > .nav-tabs > li > a{
  background: #000;
  color: #fff;
  border: 0px;
}
.tabs-info .nav-tabs > li.active > a, .tabs-info .nav-tabs > li.active > a:hover{
  border:0px;
}
.tabs-info ul li a {
  padding: 6px;
  margin-top: 9px;
  font-size: 1.8em;
}

.tabs-info .tab-content ul li a {

  font-size: 1em;
}

.news-title{
  font-weight: 900;
  font-family: 'TradeGothicLTPro-Bold'

}
.activity{
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 15px;
}

.activity li{
  background: #fff;
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;

}
.activity li a{

  color: #333 !important;
  display: inline-block !important;
    line-height: 32px !important;
    font-family: 'dinregular';
}




.IconLinkNav{
  text-align: center;
  padding: 0;
    margin: 0;

}
.IconLinkNav a{
 text-decoration: none;
}
.ImgLinkIconos{
  width: 45px;
height: 45px;
    vertical-align: top;
}
/*Iconos*/

.iconPodcasts{
  display: inline-block;
  width: 51px;
  height: 35px;
  position: absolute;
  right: 15px;
  top: 10px;

}
.iconPodcastsCorazon{
  background: url(../img/iconos/iconos-activity.png)no-repeat;
  background-position: center -78px;
  background-size: 100%;
}
.iconPodcastsPersonaGris{
  background: url(../img/iconos/iconos-activity.png)no-repeat;
  background-position: center -14px;
  background-size: 100%;
}
.iconPodcastsPersonaAzul{
  background: url(../img/iconos/iconos-activity.png)no-repeat;
  background-position: center -48px;
  background-size: 100%;

}

.icon{
  padding-left: 38px;
  line-height: 45px;
  height: 37px;
  width: 15%;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 26px;
  margin-bottom: 15px;

}
.icon span{
 display: none;
 text-indent: -9999px;
 padding: 24px;

}
.icon-link{background: #000 url('../img/iconos-redes_02.png') no-repeat;vertical-align:top; background-position: center center;}
.icon-ins{ background: #000 url('../img/iconos-redes_04.png') no-repeat;vertical-align:top; background-position: center center;}
.icon-fb{ background: #000 url('../img/iconos-redes_06.png') no-repeat;vertical-align:top; background-position: center center;}
.icon-twiter{ background: #000 url('../img/iconos-redes_08.png') no-repeat;vertical-align:top; background-position: center center;}
.seguidores{
  color: #fff !important;
  background: #000;
  display: inline-block;
  text-align: center;
  /*width: 22%;*/
  /*width: 110px;*/
  width: 92px;
  font-size: 1em;
  padding: 10px 12px 7px;
  text-transform: uppercase;
}


.order{
  display: block;
  position: absolute;
  background: #666;
  right: 0.1em;
  top: 3em;
  text-align: center;
  padding: 19px;
  color: #fff;
  width: 450px;
  box-sizing: border-box;
  z-index: 2;
}

.acti{
  background: #000;
}
.acti a{ color: #fff !important;}
#configurar {
  /*font-size: 1.2em;
  width: 450px;*/
  text-align: center;
}
#configurar i{
  text-align: right;
  font-size: 1.8em;
  padding: 24px;
  float: right;
  color: #333;
}
 #configurar span{

   display: none;
   text-transform: uppercase;
   text-align: center !important;
   font-size: 1.8em;
  padding: 15px;
 }

.nav > li > a {
  padding: inherit;
}
/*Podcasts base estilos personalizados*/
.scroll::-webkit-scrollbar{
  width: 3px;
}
.scroll::-webkit-scrollbar-track{

  -webkit-border-radius: 2px;
 border-radius: 2px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
 box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
background: rgba(255,255,255,0.5);



}
.scroll::-webkit-scrollbar-thumb{
 -webkit-border-radius: 2px;
   border-radius: 2px;
  background:  #0f85fa;

}
#pause,#Play{
      display: none;
      /*visibility: hidden;*/
    }
    #btnPlay,#btnPause{
      cursor: pointer;
    }

    /*#Play:checked ~ #btnPlay{
      background: red;
    }*/


.podcasts{
  color: #fff;
  margin-bottom: 1.4em;
  margin-top: 1em;
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.podcastsImg{
   width: 45%;
   display: inline-block;
   vertical-align: top;

}
.podcastsTexto{

  width: 45%;
   display: inline-block;
   vertical-align: top;
   padding: 8px;

}

.podcastsTexto .podcastsTextoTitulo{
    padding-bottom: 0.3em;
    margin: 0;
    font-family: 'TradeGothicLTPro-Bold';
    text-align: left;
    font-size: 1.4em;
}

.podcasts .podcastsTextoContenido{
    line-height: 1.2em;
    font-family: 'dinregular';
    text-align: left;
    font-size: 0.95em;
}
.podcasts a{
  color: #fff !important;


}

.podcasts a:hover{
 text-decoration: none;


}

/*.podcasts a img{
   -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-transform: scale(1,1);
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;

}
.podcasts a img:hover {
  -webkit-transform: scale(1.12,1.12);
  transform: scale(1.12,1.12);
  -moz-transform: scale(1.12,1.12);


}*/



.seasons{
  color: #fff;
  margin-top: 1em;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.seasonsImg{
   width: 25%;
   display: inline-block;
   vertical-align: top;

}
.seasonsTexto{

  width: 45%;
   display: inline-block;
   vertical-align: top;
   padding: 8px;

}

.seasonsTexto .seasonsTextoTitulo{
   padding-bottom: 1.2em;
   margin: 0;
   font-family: 'TradeGothicLTPro-Bold';
}

.seasons .seasonsTextoContenido{
  line-height: 1.25em;
  font-family: 'dinregular';

}
.seasons a{
  color: #fff !important;


}

.seasons a:hover{
 text-decoration: none;
 cursor: pointer;


}



.info-season{
  color: #333;
  background: #fff;
  padding: 26px;
}
.info-season p{
  font-family: 'dinregular';
  font-size: 1.1em;
}

.podcasts-play{
  padding: 0;
  margin:10px auto;
  text-align: center;

}
 .podcasts-play span{
   display: none;
   text-indent: -9999px;
 }
.podcasts-play li{
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
  width: 24.2%;
  background: #666;
  padding: 12px;

}
.podcasts-play li a{
  color: #fff !important;
  font-size: 2em;
  width: 100%;
  display: block;
  height: 100%;


}
.podcasts-play li a i{
  text-align: center;
}
.podcasts-play li a:hover{
  color: #fff;
}

.play-season ul{
  margin: 0;
  background: #666;
  box-sizing: content-box;
  padding: 15px;
}
.play-season ul li{
  list-style: none;
  padding: 10px;
  background: #333;
  margin: 7px;
  display: block;
  overflow: hidden;
  color: #FFF !important;
  display: block;
  /*height: 100%;*/
  font-size: 1.2em;
  vertical-align: middle;
  position: relative;
}
.play-season ul li:hover {
  background: #0f85fa;
    color: #FFF !important;

}
.play-season ul li a{
  color: #fff !important;
  padding: 1px;
  display: inline-block;
  /*width: 100%;*/
  height: 100%;
  font-size: 1.2em;
  vertical-align: middle;

}
.play-season ul li a:hover{
  text-decoration: none;
  color: #fff !important;
  }
.infoBtn{
  /*display: block;*/
  vertical-align: middle;
  font-size: 1.2em !important;
  cursor: pointer !important;
  z-index: 0;
  font-family: 'dinRegular';
  position: absolute !important;
  right: 6px !important;
  top: 8px !important;

}


#duration, #durar{

  color: #FFF;
 font-size: 1.2em;
 box-sizing: border-box;
 position: relative;
 margin-top: 10px;
}
#durar{
  position: absolute;
  right: 0;
}
#tracker{
  position: relative;
}

  .btn-col{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff !important;
    display: block;
    text-transform: uppercase;
  }
  .btn-col:hover{
    background: #000;
    border: 1px solid #000;
    color: #fff;
  }

  .sin-padding li{
    padding: 0;
  }

  .activity > li > a img{
    display: inline-block !important;
    width: 61px;
    margin-right: 28px;
  }

  #load {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(images/ajax-loader.gif);
    width: 43px;
    height: 11px;
    text-indent: -9999em;
}

.personal{

  height: 100%;
  position: absolute;
  background: rgba(0,0,0,1);
  z-index: 2;
  top: 1em;
  left: 0;
  width: 100%;



}
.Contenedorplay-d{
  width: 100%;
  display: block;
  height: 45px;
}
.play-d{
  margin: 5px;
  border:1px solid #fff;
  background: transparent;
  color: #fff;
  float: right;

}
.play-d:hover{
  border-color: #666;

}

/*.info-season{
  display: none;
}*/
/*Usuario icono o imagen*/

.user-icon img{
  display: none;
}

/*Estilos seguidores base*/

.seguidores-cl{
  overflow-x: auto;
  height: 500px;
}

/*
 *  STYLE 3
 */

.style-3::-webkit-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}



/*Play Podcasts*/
.podcastsPlayContenedor {


}

    .podcastsPlay, .podcasts-season{
      width: 31%;
      display: inline-block;
      vertical-align: top;
      margin: 1%;
    }
    .muestra-noti{
      position: absolute;
      z-index: 5;
      top: 8.6em;
      right: 26px;
      width: 31%;
      display: none;

    }
    .muestra-noti .fa{
      font-size: 1.6em;
    }

    .podcastsPlayTexto{
      color: white;
    }

    .podcastsPlayTexto p {
      font-family: 'dinRegular';
    }


/*Modal estilos*/

.circuloShare{


}

.activity-share{
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
}
.iconosShare{
   width: 80px;
   height: 67px;
}
.iconosShare:hover .circuloShare{
  fill: #0f85fa;
}
.activity-share li {
  display: inline-block;
  vertical-align: top;
  width: 12.2%;
}
.personalModal{
  background: #fff !important;
}
.personalModal button span{
  color: #666;
}
.modal-content{
  border-radius:0px;
}

.modal-header{
   border-bottom: 0px;
}
.activity-osb{
  margin: 0;
  padding: 0;
}
.activity-osb li{
  list-style: none;
 /* background: #333;*/
  padding: 8px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  margin: 8px;
}
.activity-osb li a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
}


.activity-osb li a:hover {
  background: #0f85fa;
}


.activity-osb li:hover{
  /*background: #fff;
  border: 1px solid #333;*/
}
.activity-osb li:hover a{

}
.activity-osb li a:hover{
  text-decoration: none;
}
.activity-osb li:last-child a{}
/*.activity-osb .kas{



}*/
.activity-osb .kas a{
  color: #333 !important;
  background: none !important;
  border: 1px solid #000;
}
.activity-osb .kas a:hover{
  color: #fff !important;
  background: #000 !important;

}


.sinBG{
  background: none !important;
}
.sinBG:hover{
  color: #000;
}

/*Radio*/


/*Slide*/
.form_container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.left, .right {
  position: absolute;
  top: 50%;
  font-size: 4em;
  height: 50px;
  border: none;
  color: #f7f7f7;
  /*background-color: #00ccc5;*/
  border-radius: 100px;
}
.left {
  left: 0px;
}
.right {
  right: 0px;
}
.form_container .slideContainer {
  white-space: nowrap;
}

.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}
/*slide poortadas*/
.thumbnail{
  background: inherit;
  border: 0px;
}
.thumbnail li{
  list-style: none;
}

ul div.thumbnail > a{

  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  opacity: 1;
}

ul div.thumbnail > a:hover{
  opacity: 0.2;

}
.dias{
  width: 100%;
  /*position: fixed;
  bottom: 0;*/
  position: fixed;
  margin-top: 2em;
  bottom: 0;
  left: 0;
  background: #000;
}
.dias .diasContenido{
  list-style: none;
  padding: 0;

}
.dias .diasContenido .diasList{
   width: 6.666%;
   box-sizing: border-box;
   float: left;
   text-align: center;
    border: 1px solid #333;

}
.dias .diasContenido .diasList .diasLink{
   color: #fff !important;
   width: 100%;
   height: 100%;
   display: block;

}
.dias .diasContenido .diasList:hover .diasLink:hover{
  text-decoration: none;
  color: #000 !important;
}
.dias .diasContenido .diasList .diasLink:hover{
  text-decoration: none;
  color: #000 !important;
}
.dias .diasContenido .diasList:hover .diasLink{
  background: #fff;
  color: #666;
}
.dias .diasContenido .diasList.activadias{
  border: 0px;


}

.dias .diasContenido .diasList.activadias:hover .diasLink{
  color: #333;


}

.dias .diasContenido .diasList.activadias .diasLink{
  color: white;

}
/*Estilos de nueva navegación general*/
.navegacion-superior{
  background: #0f85fa;
  box-sizing: border-box;
  /*height: 50px;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navegacion-superior nav ul > li > a{
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  display: block;
  width: 100%;
  line-height: 50px;
  /*height: 100%;/*
  /*padding: 22px;*/
  /*text-align: center;*/
}
.logo-mod{
  width: 50%;
}
.ediciones{
  width: 25%;
}
.navegacion-superior nav ul .logo-mod .logoInterior{
  width: 37%;
  max-width: 100%;
  margin: auto;
  display: block;
  padding-top: 15px;
  padding-bottom: 6px;

}
.navegacion-superior nav ul li{
  box-sizing: border-box;
  /*width: 33.333333%;*/
  vertical-align: middle;
  float: left;

}

.navegacion-superior nav ul{
  list-style: none;
  padding: 0;
  margin: 0;


}


/*.navegacion-superior nav  ul li:hover > ul{
  display: block;



}*/

.navegacion-superior nav  ul li > ul{
  /*display: block*/
  position: fixed;
  top: 80px;
  background: #666;
  width: auto;
  height: 100%;
  z-index: 1;
  transition: 1s;



}
/*menu interior del inteior*/
.navegacion-superior a:hover{
  text-decoration: none;
}
.navegacion-superior nav .ediciones ul.ajustesInfo,.navegacion-superior nav .ediciones ul.ajustes-menu{
 display: none;

}
/*Menu configuraciòn*/
.ajustesMenu{
  position: fixed;
  background-color: #333;
  height: 100%;
  display: block;
}

.ajustesMenu .ajustes-menu{

 width: 100% !important;
display: block;


}
.ajustesMenu .ajustes-menu .ajustesMenuList{
    width: 98% !important;

}

.ajustesMenu .ajustesMenuContenido{
  display: none;
}

ul.ajustesInfo p{
 background: #000;
 color: #fff;
 padding: 10px;
 text-align: center;
 margin-top: 8px;
 font-size: 1em;
 font-family: 'dinregular';
}

ul.ajustesInfo a{
 color: #fff;

}
.navegacion-superior nav .ediciones .ajustes-menu, .navegacion-superior nav .ediciones ul.ajustesInfo{
  padding: 0;
  margin: 0;
  width: 33.3333%;
}
.navegacion-superior nav .ediciones .ajustes-menu li{
  display: block;
  background: #fff;
  padding: 8px;
  width: 73%;
  margin: 5px;
  box-sizing: border-box;
  text-align: center;


}
.navegacion-superior nav .ediciones ul.ajustes-menu li a{
  color: #333;
  width: 100%;
  height: 100%;
  text-decoration:none;
}
.navegacion-superior nav .ediciones ul.ajustes-menu li:hover{
  background: #0f85fa;
}
.navegacion-superior nav .ediciones ul.ajustes-menu li:hover a{
  color: #fff;
}

.navegacion-superior nav .ediciones ul.ajustesInfo{
     padding: 6px;
    width: 25%;
}
.ediciones .icono-usuario{
 display: inline-block;
 width: 23.8% !important;
 max-width: 100%;
margin-top: -12px;
}

/*.active{
 background: #333;
}*/

.activity .fol{
 float: inherit;
 width: 100%;
 font-family: 'dinregular';
 position: relative;
 padding: 6px;
}

.fol a{
  line-height: 32px !important;
  font-size: 1em !important;
  text-transform: none !important;

}

 .folColection{
  background: #0f85fa;

}

.folColection .flechaColec{
  display: none !important;
 width: 20px;
}


/*Coleciones personales*/
 .fol.activaColleciones{
  padding: 0;
  background: none;


 }
 .fol.activaColleciones a {
  background: #0F85FA;
  display: block;
  width: 100%;
  /*height: 100%;*/
  color: #fff !important;
 }


 /*Estilo de menu colecttion*/


        .folColectionList{
         /*height: 50px;    */
        }

       .folColectionMenu input[type="checkbox"] {
  position: absolute;
  top: -9999px;
left: -9999px;
       }

       .folColectionMenu label {
  display: block;
  /*padding: 14px 21px;*/
  border-radius: 2px 2px 0 0;
  /*font-size: 20px;*/
  font-weight: normal;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
        .folColectionMenu label:hover {
  background: #703688;
}
  .folColectionMenu .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  /*font-size: 17px;*/
  line-height: 25px;
  /*padding: 25px;*/
  position: relative;


}
.folColectionMenu .tab-content .ListaContent{
  background: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 14px;
  position: relative;

}
.folColectionMenu .tab-content .ListaContent .LinkContent{
  color: #000 !important;
  padding-right: 3px;
}

.folColectionMenu .tab-content .ListaContent .LinkContent img{
  width: 80px;
  margin-left: -6px;
  margin-right: 5px;

}

.interiorColeccionesClose{
  border-radius: 50%;
  background: #666;
  padding: 2px;
  position: absolute;
  color: #fff !important;
  width: 19px;
  height: 19px;
  right: 10px;
}
.interiorColeccionesClose:after{
  content: "x";
  position: absolute;
  display: block;
  top: -4px;
  left: 7px;
}

.interiorColeccionesClose:hover{
  text-decoration: none;
}


.folColectionMenu [id^="tab"]:checked + label {

  /*padding-top: 17px;*/
  background: #0F85FA;
  color: #fff;
}
.folColectionMenu [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

  .folColectionMenu{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .folColectionMenu .folColectionList{
    display: block;
    margin: 10px 0px 10px 0px;

  }

  .folColectionMenu .folColectionList .folColectionLink{
     background: #fff;
     color: #000;
     padding: 8px;
     width: 100%;
     height: 100%;
     display: block;
  }
 .folColectionMenu .folColectionList .folColectionLink.active{
   text-decoration: none;
   background: #0F85FA;
   color: white;
 }

 /*.folColectionMenu .folColectionList:hover .interiorColeccionesNav{
   display: block;
   opacity: 1;
 }
 .folColectionMenu .folColectionList:hover .folColectionLink .folColectionImg{
   display: inline-block;
   width: 20px;
 }*/

/* .folColectionMenu .folColectionList:hover  #Historias, .folColectionMenu .folColectionList:hover #sonido{
   display: none;

 }*/
 .folColectionMenu .folColectionList .folColectionLink .folColectionImg{
   display: none;
   width: 20px;
 }
.interiorColeccionesNav{opacity: 0;display: none; padding: 0 !important; list-style: none; margin: 0 !important; background: none !important;}
.interiorColeccionesNav .interiorColeccionesList{
  padding-left: 0px;
  margin: 5px;
  background: #fff;

}

.interiorColeccionesNav .interiorColeccionesList:hover{

  background: #0F85FA;

}
.interiorColeccionesNav .interiorColeccionesList:hover .interiorColeccionesLink{
   color: white;

}
.interiorColeccionesNav .interiorColeccionesList .interiorColeccionesLink{
  background: none;
  color: #000 !important;
  width: 80%;
  vertical-align: top;
}

.interiorColeccionesNav .interiorColeccionesList .interiorColeccionesLink:hover{
  text-decoration: none;

}
.interiorColeccionesNav .interiorColeccionesList .interiorColeccionesClose{
  display: inline-block;
  background: none;
  vertical-align: top;
  color: #000 !important;
  width: 16%;
  float: right;
}
.interiorColeccionesNav .interiorColeccionesList .interiorColeccionesImg{
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;

}

 /*Estilo registro*/
.form-group{
  margin-bottom: 5px;
}
.registroStyle{
 display: block;
 width: 28%;
 margin: auto;
}
.registroStyle .logo{
 display: table;
 margin: 0 auto;
 width: 100%;
 max-width: 350px;
}
.registroStyle select{
 box-sizing: border-box;
 width: 30.666666% !important;
 float: left;
 margin: 3px;
}

.closePersonal{
 padding: 10px !important;
}

.fa-heart{
  transition: .4s;
  opacity: 1;
}

/*Nuevas tabs personalizadas*/

.tabs-info-2{
 background: #666;
}
.activa, .activa:visited, .activa:active, .activa:hover, .activa:link{
 background: #fff;
 color: #333 !important;
 text-decoration: none;
}


.tabs-info-2 li .tabsTitulos{
  color: white !important;
	cursor:pointer;
}


.activa .iconsMenuTabs{
    fill: #000;
}
#following.activa, #followers.activa {
  color: #000 !important;
}
.tabs li .tabsTitulos span{
   display: block;
   font-family: 'dinregular';
   /*color:  #fff ;*/

}

.tabs li .tabsTitulos:hover span{
   color:  #000 ;

}

.tabs li.activa{
 background: #fff;

}
.tabs li.activa a{
 color: #333 !important;
}

.tabs{
 padding: 0;
 list-style: none;
 /*display: table;*/
 width: 100%;
 margin-top: 1.2em;
 display: flex;
flex-direction: row;
}
.tabs li{
 padding: 5px;
 -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
 width: 29.6% !important;
 background: #000;
 float: left;
 text-align: center;
 /*margin: 6px;*/
 margin: 0 11px;
 font-size: 0.9em;
}
.tabs li:last-child{
  margin-left: 12px;
  margin-right: 0;
}
.tabs li:first-child{
  margin-right: 12px;
  margin-left: 0;
}
.tabs li a{
 color: #fff;
 text-decoration: none;
 display: block;
 width: 100%;
 height: 100%;
 line-height: 15px !important;
}
.tabs li:hover a .iconsMenuTabs{
  fill: #333;

}

.tabs li:hover {
 background: #fff;
}

.tabs li:hover a{
   color: #333 !important;
}
.contenidoTab{
  width: auto;
  padding: 5px;
  box-sizing: border-box;
  display: none;
  height:65vh;
  overflow-y:scroll;
  /*margin-top: 8em;  */
}

/*.bloqueDetras{
  display: block !important;
}*/


/*saveList*/

.saveInput{
  padding: 14px;
  border-color: #0F85FA;
  color: #0F85FA;
}
#public, #private{
  display: none;

}
.saveList label{
  border: 1px solid #333;
  text-align: center;
  padding: 5px;
  color: #333;
  cursor: pointer;
}
.btnSave{
  width: 98%;
}
#D2,#D1 {
 width: 48%;
 float: left;
 text-transform: uppercase;
 box-sizing: border-box;
 line-height: 45px;
 margin: 1%;
 font-size: 20px;
}
#private:checked ~ #D2{
  background: #333;
  color: #fff;
}
#public:checked ~ #D1{
background: #333;
color: #fff;
}

#crearFolder{
 display: none;
}


.crearFolder{
  background: #fff;
  padding: 5px;
  /*margin: 113px 15px;*/
 overflow: hidden;

}
.baseBtn{
  width: 100%;
}

.btnSave{

  background: #0F85FA;
  color: #fff !important;
  border-radius: 0px;
  border: 0px;
  font-size: 20px;
  line-height:  25px;



}

.btnCancelar{

  background: white;
  color: #666 !important;
  border-radius: 0px;
  border: 0px;
  /*float: right;*/
  line-height:  25px;
  margin: 5px 0  5px 0;
  margin: 5px 0 5px 28em;
  display: block;
}

.colorObcuro{
 color: #333;
}

/*Tabs e iconos*/
.iconsMenuTabs{
   display: block;
   /*background: url('../img/iconos/iconos-tabs.png') no-repeat; */
   text-align: center;
   margin: 0 auto;
   width: 60px;
   height: 40px;
   fill: #fff;
}


.iconActivity{
   background-position: 0px -140px;
   background: url(../img/iconos/activity.svg) no-repeat;
    fill: red;


 }
/*.iconCollections{
  background-position: 0px 7px;

}
.iconMessage{
  background-position: 0px -67px;
}

.iconActivityBlanco{
   background-position: 0px -172px;


 }
.iconCollectionsBlanco{
  background-position: 0px -33px;

}
.iconMessageBlanco{
  background-position: 0px -99px;
}*/





.icons{
  display: block;
  width: 60px;
  height: 50px;
  position: relative;
  margin: -44px auto;
}

.fa-ellipsis-h{
    text-align: center;
	padding-top: 5px;
    color:transparent;
    background: url('../img/img-new/arrow-next-02.png') no-repeat;
    background-size: 36px;
    background-position: 10px 6px;

	}
  .fa-ellipsis-h:hover{
    /*color: #000;*/
    background: url('../img/img-new/arrow-next-01.png') no-repeat;
    background-size: 36px;
    background-position: 10px 6px;
  }
a.Share{color:transparent !important;}
.iconsSave{
  background: url('../img/iconos/iconos-btn.png') no-repeat;
  background-position: center -5px;
  background-size: 100%;



}
.iconsLike{
  background: url('../img/iconos/iconos-btn.png') no-repeat;
  background-position: 3px -137px;/*102*/
  background-size: 100%;
}

.iconsLikeRelleno{
  background: url('../img/iconos/iconos-btn.png') no-repeat;
  background-position: 3px -53px;/*102*/
  background-size: 100%;
}


.iconsShare{
  /*background: url('../img/iconos/iconos-btn.png') no-repeat;*/
  background: url('../img/img-new/share-01.png') no-repeat;
  /*background-position: center -94px;*/
  background-size: 100%;

}
.iconsShare:hover{
    background: url('../img/img-new/share-02.png') no-repeat;
    background-position: 0;
    background-size: 100%;}


.iconsTabs{
   display: inline-block;
   width: 46px;
   height: 60px;
  vertical-align: middle;



}

.iconRadioNegro{
  background: url('../img/iconos/iconos-tab-negros.png');
  background-position: center -145px;
  /*opacity:0.5;*/
}

a:hover .iconRadioNegro{
  opacity:1;
}

.iconRadioBlanco{
  background: url('../img/iconos/iconos-tabs-menu.png');
  background-position: center -145px;
}


.iconPodcastNegro{
  background: url('../img/iconos/iconos-tab-negros.png');
  background-position: center -2px;
  /*opacity:0.5;*/
}

a:hover .iconPodcastNegro{
  opacity:1;
}

.iconPodcastBlanco{
  background: url('../img/iconos/iconos-tabs-menu.png');
  background-position: center -2px;
}



.iconNotificNegro{
  background: url('../img/iconos/iconos-tab-negros.png');
  background-position: center -74px;
  /*opacity:0.5;*/
}

a:hover .iconNotificNegro{

  opacity:1;
}

.iconNotificBlanco{
  background: url('../img/iconos/iconos-tabs-menu.png');
  background-position: center -74px;
}
        .TabsNav {
          position: fixed;
          top: 60px;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-family: 'Trade Gothic LT', Verdana;
          font-weight: 900;
          width: 99.9%;
          z-index: 1;


        }
        .TabsNav .TabsNavBtn{
         background: #666;
         box-sizing: border-box;
         display: inline-block;
         width: 33.333%;
         opacity: 1;

         text-align: center;

        }
        .TabsNav .TabsNavBtn.activad{
          background: #000;
         opacity: 1;
        }

        .TabsNav .TabsNavBtn.activad a{
          color: #fff !important;

        }


        .TabsNav .TabsNavBtn .TabsNavBtnLink span{
              display: inline-block;

        }
        .TabsNav .TabsNavBtn .TabsNavBtnLink{
          display: block;
          width: 100%;
          height: 100%;
          color: #000 !important;
         text-decoration: none;
         text-transform: uppercase;
         font-weight: bold;
         font-size: 25px;
         /*opacity: 0.5;   */
         border-right:  1px solid #333;
        font-family: 'TradeGothicLTPro-Bold';

        }
.TabsNav .TabsNavBtn .TabsNavBtnLink:hover{
      opacity: 1;

}


        .TabsPrincipales{


        }
        .TabsPrincipales .TabsSecundarias, .TabsPrincipales .flipster{
         display: none;

        }



 /*Formulario de pago */

 .formPago{
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    /*background: white;*/
  }
  .FormularioPago{
    width: 20%;
    margin: 0px auto;

  }
  .FormularioPago .logo{display: table; margin: 0 auto; width: 100%;}
  .FormularioPagoContenedor{}
  .FormularioPagoContenedor .Tarjetas{
    width: 100%;
  }
  .FormularioPagoContenedor .Tarjetas .TarjetasCredito,
  .FormularioPagoContenedor .Tarjetas .TarjetasDebito{
    display: inline-block;
    width: 100%;
  }

  /*Imagenes*/
   .Credito{
     background: url(../img/cards1.png)no-repeat;
     display: inline-block;
     vertical-align: top;
     width: 100%;
     height: 45px;
     margin: -5px auto;
   }

   .Debito{
     background: url(../img/cards2.png)no-repeat;
     display: inline-block;
     vertical-align: top;
     width: 100%;
     height: 45px;
     margin: -5px auto;
   }

  .FormularioCampos{
     width: 100%;
  }

.FormularioCamposBloque{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.FormulariosCamposExpira label{
  display: block;
}

.CamposExpira{
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.FormulariosCamposExpira{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;

}
.CamposExpira input{
  text-transform: uppercase;
}

.FormularioCamposCodigo input{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}
.FormularioCamposCodigo{

  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.FormularioCamposOpenpay{
  width: 100%;
  text-align: center;
}
.FormularioCamposOpenpay .logo, .FormularioCamposOpenpay .shield{
  display: inline-block;
  /*width: 48%;*/
  vertical-align: top;
}

.FormularioCamposOpenpay p{
  display: inline-block;
  /*width: 70%;*/
}
.CVV{
  background: url(../img/cvv.png)no-repeat;
  display: inline-block;
  width: 31%;
  height: 34px;
  vertical-align: top;
  margin: 20px auto;
  background-size: cover;
  float: right;
}


.Security{
  background: url(../img/security.png)no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 13%;
  height: 48px;
}
.logoOpenpay{
  background: url(../img/openpay-bl.png)no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 90%;
  height: 48px;

}



.FlipShare svg,.FlipPause svg,.FlipCampana svg{
  fill: white;
  width: 120px;
  height: 33px;
  background-color: #666;
  /*margin: 6px;*/
}
.FlipTitulo,.FlipHora{
  color: white;
  text-align: center;
  font-family: 'TradeGothicLTPro-Bold';
  text-transform:uppercase;
}
.FlipTitulo{
  /*border-bottom: 1px solid #fff;*/
  width: 300px;
  margin: 15px auto;
}

.StreamContenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  margin-top: 4em;  }
.Streamctn {
  float: left;
  width: 31%;
  margin: 12px;
  padding: 8px;
 -moz-transform:scale(0.8, 0.8);
  -webkit-transform:scale(0.8, 0.8);
    transform:scale(0.8, 0.8);
  }
  .Streamctn.StreamActivo{

    -moz-transform:scale(1.2, 1.2);
    -webkit-transform:scale(1.2, 1.2);
	    transform:scale(1.2, 1.2);

  }
  .flip-items{
    height: 414px !important;
  }

.botonesStream{
   display: table;
   width: ;
   margin: -1.2em auto !important;
   /*z-index: 2;*/
   position: relative;

}
.botonesStream ul{
   padding: 0;
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
   -webkit-flex-direction: row;

}
.botonesStream ul li{
    width: 33.333%;
    display: inline-block;
/*    margin-right: 11px;*/
    margin:0;
}
  .cover.current{

    display: block !important;

  }
/*.StreamImg {
  width: 100%;
  text-align: center; }
  .StreamImg .ProvicionalImg {
    display: block;
    /*background: green;*/
    /*height: 300px;
    width: 300px;
    margin: 0 auto; }
.StreamTexto {
  display: block;
  text-align: center; }
  .StreamTextoTitulo {
    font-size: 1.9em;
    color: white;
    border-bottom: 1px solid white; }
  .StreamTextoHora {
    color: white;
    padding: 0; }
.StreamControls {
  width: 100%; }
  .StreamControlsNav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row; }
  .StreamControlsList {
    display: inline;
    background: #000;
    width: 30%;
    margin: 5px;
    text-align: center;
    padding: 12px; }
  .StreamControlsLinks {
    color: white;
    font-size: 1.1em; }*/
/*Editform*/
/*Espacio superior*/

.ESuper{
   margin-top: 3em;
	}
.EditarPerfilForm{

  padding: 12px;
  /*background: #333;*/

}
.EditarPerfil {

  display: block;
  width: 98%;
  text-transform: uppercase;
  /*background: #333;*/ }
  .EditarPerfil .formPersonal {
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.2em;
    line-height: 25px;
    padding: 14px;
    text-transform: uppercase; }
  .EditarPerfilFoto {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .EditarPerfilFoto #subirFoto {
      visibility: hidden;
      display: none; }
    .EditarPerfilFoto label {
      cursor: pointer;
      background: white;
      color: #666;
      padding: 18px;
      width: 80%;
      height: 10em;
      font-size: 1em;
      margin-top: 10px;
      margin-right: 10px; }
    .EditarPerfilFoto textarea {
      width: 100%;
      height: 8.3em; }
  .EditarPerfilCheckbox {
    display: flex;
    flex-direction: row; }
    .EditarPerfilCheckbox #Privado, .EditarPerfilCheckbox #Publico {
      display: none;
      visibility: hidden; }
    .EditarPerfilCheckbox label {
      color: white;
      background: #000;
      padding: 15px;
      cursor: pointer;
      text-align: center;
      }
    .EditarPerfilCheckbox #Privado:checked ~ #D3, .EditarPerfilCheckbox #Publico:checked ~ #D4 {
      background: #333; }
    .EditarPerfilCheckbox #D3, .EditarPerfilCheckbox #D4{
      width: 50%;

    }
    .EditarPerfilCheckbox #D3{
      margin-right: 5px;
    }
    .EditarPerfilCheckbox #D4{
        margin-left: 5px;
    }

  .EditarPerfilBtn {
    display: block;
    padding: 12px;
    background: #0F85FA;
    color: white !important;
    border-radius: 0px !important;
    width: 100%;
    font-size: 1.2em;
    text-transform: uppercase;
     }


/*Chat mensajes*/
.MensajeContenido{
 width: 100%;
 max-width: 100%;
 height: 480px;
 margin: 0 auto;
 display: block;
 overflow: hidden;
 position: relative;

}

.MensajeContenido p{
  background: none !important;
}
.MensajeContenido .MensajeCabecera{
  background: #0f85fa;
  color: white;
  text-align: center;
  padding: 8px;
  font-family: 'dinregular';
  position: absolute;
  width: 100%;
  z-index: 1;
   box-sizing: content-box;
  left: 0;

}

.MensajeCabecera .MensajeCabeceraTitulo{
  font-size: 2.5em;
  margin: 0;

}

.MensajeContenido .MensajeCtn{
  padding: 8px  8px 25px 8px;
  overflow-x: hidden;
  position: absolute;
  background-color: white;
  top: 13.3%;
  padding-top: 25px;
  padding-bottom: 45%;
  height: 450px;
  width: 100%;
  max-height:800px;
  left: 0;


}


.MensajeCtn::-webkit-scrollbar
{
width: 3px;
max-width: 3px;
height: auto;
max-height: 8px;
}
.MensajeCtn::-webkit-scrollbar-thumb
{
background: #f0f0f0;
border-radius: 5px;
max-width: 3px;
}
.MensajeCtn::-webkit-scrollbar-track {
background: #0f85fa;
  border-radius:5px;
}

.MensajeCtn .MensajeIn{
   width: 100%;
display: table;

}

.MensajeCtn .MensajeOut{
    width: 100%;
display: table;


}

.MensajeOut .MensajeOutBloque{
  width: 75%;
  float: right;
  margin-right: 11px;
}

.MensajeIn .MensajeOutBloque{
  width: 75%;
  float: left;
  margin-left: 11px;
}

.MensajeOut .MensajeOutContenido{
  background: #b3b3b3;
  padding: 12px;
  color: white;
  font-family: 'dinregular';
}
.MensajeOut .MensajeOutContenido:after{
   content: url(../img/iconos/flechaChatDer.svg);
   width: 45px;
   display: block;
   position: absolute;
   background-size: 100%;
   right: -20px;
   margin-top: -4px;

}

.MensajeIn .MensajeOutContenido:after{
  content: url(../img/iconos/flechaChat.svg);
   width: 45px;
   display: block;
   position: absolute;
   background-size: 100%;
   left: 2px;
   margin-top: -1px;




}

.MensajeIn .MensajeOutContenido{
  background: #0f85fa;
  padding: 12px;
  color: white;
  font-family: 'dinregular';
}
.MensajeFecha{

padding-top: 8px;
}
.MensajeFecha p{
  color: #b3b3b3 !important;
 font-family: 'dinregular';
 text-align: left !important;

}
.MensajeEnvio{
  background: #eee;
  border-top: 1px solid #b3b3b3;
  position: absolute;
  bottom: 0;
  padding: 8px;
  z-index: 1;
  width: 100%;
  left: 0;



}
.MensajeEnvio form{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.MensajeEnvio input[type=file]{
  visibility: hidden;
  display: none;
}

.MensajeEnvio label {
   background: url(../img/iconos/subirimgchat.svg)no-repeat;
   display: block;
   width: 45px;
   height: 45px;
   cursor: pointer;
   float: left;
   padding: 9px;
   margin: 5px;


}
.MensajeEnvio .inputEnviar{
  display: block;
  width: 86%;
  float: left;
}
.MensajeEnvio .btnEnviar{
  background: none;
  display: block;
  width: 20%;
  float: left;
  border: 0px;
  font-size: 1.3em;
}
.activaCharla a{
   background: #0f85fa !important;
  color: #fff !important;
  text-decoration: none;
}

.activaCharla a span svg{
 fill: white !important;
}

.Charla{
  padding: 0;
  margin: 0;
  list-style: none;

}
.CharlaTexto{
  width: 260px;
  overflow: hidden;
  height: 42px;
  margin-top: 9px;

}
.Charla .CharlaList{
  margin: 5px;
}
.Charla .CharlaList .CharlaLinks{
  background: white;
  /*padding: 5px;*/
  /*display: block;*/
  height: 100%;
  width: 100%;
  color: #000 !important;
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
   -webkit-flex-direction: row;
   font-family: 'dinregular';

}

.Charla .CharlaList .CharlaLinks span svg{
   margin-top: 11px;
   width: 33px;

}

.Charla .CharlaList .CharlaLinks .CharlaImg{
  width: 60px;
  height: 60px;
  position: relative;
  margin-left: -4px;
  margin-right: 5px;

}
/*.Charla .CharlaList .CharlaLinks:before{
  content: "";

}*/

.Charla .CharlaList .CharlaLinks:hover{
  background: #0f85fa;
  color: #fff !important;
  text-decoration: none;
}

/*Navegacion 3 superior*/
.header{
    background: #0f85fa;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;

}
.header .navegacion{height: 60px;}

.header .navegacion .navegacionInterior{

     list-style: none;
     padding: 0;
     margin: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    /*height: 76px;*/

}
.LogoConvoy{width:65%; text-align: center;}
.LogoConvoy img{width: 20em; max-width: 100%;padding-right: 5em; padding-top: 0px;margin-right: 7em;}
#usuario{ /*width: 25%;*//*width: 512px;*/width: 450px ;border-right: 1px solid #000;}
/*#usuario .icono-usuario{ display: inline-block; width: 76px; position: relative; margin-left: -20px; margin-top: -35px;}*/
#Configura, #buscadorD{ width: 5%; text-align: center; border-left:1px solid #000;}
#buscadorD img{ margin-top: -12px;}
.header .navegacion .navegacionInterior .navegacionList { display: inline-block;padding: 14px; height: 60px; }
.header .navegacion .navegacionInterior .navegacionList .navegacionLeftLink{
    color: #000;
    font-size: 2.2em;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;

}
.header .navegacion .navegacionInterior .navegacionList .navegacionLeftLink:hover{
    text-decoration: none;

}

.header .navegacion .navegacionInterior .navegacionList .navegacionLeftLink:hover svg{
    fill: #fff;

}

#buscadorD  .navegacionLeftLink span{
  display: none;
  color: white;
vertical-align: top;

}
.actived{
  background: #000;

}
.buscadorIcon{
  fill: #000;

}
.actived .buscadorIcon g{
  fill: white;

}

#podca{
  margin-top: 50px;
}

/*#buscadorD{
  width: 18%;
}*/
/*#buscadorD  .navegacionLeftLink:hover span {
  display: inline-block;



}*/

/*Contenido tab usuario*/
.tabs2{
 padding: 0;
 margin: 0;
 position: fixed;
 /*position: absolute;*/
 height: 100%;
 left: 0;
 background-color: #666;
 width: 25%;
 top: 76px;
 z-index: 2;


}
.Despliege{
  display: block !important;

}
.ContenidoTabsUsuario{}
.ConteidoTabsUsuraio .ContenidoTexto{
  background: #333;
 padding: 5px;
}


/*estilos de buscador*/

.MenuSearch{
 position: fixed;
 padding: 0;
 right: -512px;
background: #4d4d4d;
/*width: 25%;*/
/*width: 34em;*/
/*width: 512px;*/
width: 450px;
    height: 100%;
top:60px;
  /*display:none;*/
   z-index: 2;


}
.MenuSearch .FormBusqueda{
 display: flex;
 flex-direction: row;
 margin: 0 auto;
 /*padding: 8px;*/

}
.MenuSearch .FormBusqueda .BackBusqueda{
  background: #0f85fa;
  width: 100%;
  padding: 8px;

}

.MenuSearch .FormBusqueda .btnBusqueda,.MenuSearch .FormBusqueda .InputBusqueda{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;


}

.CabeceraBusquedaUsuraio{
  list-style: none;
  background: #0f85fa;
  position: relative;
  overflow: hidden;
  height: 50px;

}

.CabeceraBusquedaUsuraio .BloqueBusquedaUsuario span{
  color: white;
  font-size: 1.5em;
  left: 4.2em;
  top: 0.58em;
  position: absolute;
}
.CabeceraBusquedaUsuraio .BloqueBusquedaUsuario .BloqueBussquedaImg{
  width: 60px;
  display: inline-block;
  position: absolute;
  left: 0;

}
.InputBusqueda{
 width: 76%;
 margin-left: 1%;
}
.btnBusqueda{
  width: 20%;
height: 50px;

}
.MenuSearch .FormBusqueda .btnBusqueda{
  background:  #0f85fa;
  font-size: 1.2em;

}
.ResultadoBtn{
  display: flex;
 display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
 list-style: none;
 padding: 0;
}
.ResultadoBtn .ResultadoList{
  /*background: #000;*/
  width: 48%;
  margin: 2px;
  padding: 12px;

}
.ResultadoBtn .ResultadoList .ResultadoLink{
/*color: #fff;*/
 padding: 12px;
text-transform: uppercase;
font-size: 25px;

}
.ResultadoBtn .ResultadoList.activeBusqueda {
  /*background: #fff;*/

}
.ResultadoBtn .ResultadoList label{
  text-align: center;
}

.ResultadoBtn .ResultadoList.activeBusqueda .ResultadoLink {

 /*color: #000; */

}

.ResultadoLista{
 padding: 0;
 margin: 0;
 list-style: none;

}
.ResultadoLista .ResultadoListaList{
  padding: 6px;
  width: 95%;
  position: relative;
}

.ResultadoListaList .iconPodcasts{
  top: 18px !important;
}

.ResultadoLista .ResultadoListaList .ResultadoListaLink{
  background: #fff;
  color: #000 !important;
  display: block;
  line-height: 36px;
  /*padding-left: 10px;*/
}
.ResultadoLista .ResultadoListaList .ResultadoListaLink span{
  padding-left: 10px;
}

.ResultadoLista .ResultadoListaList .ResultadoListaLink:hover{
  text-decoration: none;
  background: #0F85FA;
  color: white;
}

.ResultadoLista .ResultadoListaList .ResultadoListaLink svg{
  fill: white;

}


.ResultadoLista .ResultadoListaList .ResultadoListaLink .ResultadoListaImg{
  width: 60px;
  height: 60px;
  margin-top: 0 !important;
  position: relative;
  /*margin-left: -74px;*/
  margin-right: 10px;

}

#ContenidoTabs{
  overflow-x:scroll;
  height: 850px;
  min-height: 450px;
}


.ResultadosBusqueda {
  /*width: 650px;*/
  /*float: none;*/
  /*list-style: none;*/
  position: relative;
  /*margin: 80px 0 0 10px;*/
  /*text-align: left;*/
}
.ResultadosBusqueda li {
  float: left;
  display: block;
}
.ResultadosBusqueda input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


.ResultadosBusqueda label {
  display: block;
  padding: 14px 21px;
  /*border-radius: 2px 2px 0 0;
  font-size: 20px;*/
  font-weight: normal;
  text-transform: uppercase;
  background: #fff;
  cursor: pointer;
  position: relative;
  /*top: 4px;*/
  color: #000;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ResultadosBusqueda label:hover {
  background: #0f85fa;
}
.ResultadosBusqueda .bc-content {
  /*z-index: 2;
  */display: none;
  overflow: hidden;
  width: 100%;/*
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  */position: absolute;
  /*top: 53px;*/
  left: 13px;
  /*background: #612e76;*/
}
.ResultadosBusqueda [id^="bc"]:checked + label {
  top: 0;
  /*padding-top: 17px;*/
  background: #000;
  color: white;
}
.ResultadosBusqueda [id^="bc"]:checked ~ [id^="bc-content"] {
  display: block;
}


/*Estilo de settings*/

.MenuSettingInterior input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


.MenuSettingInterior #Forza {
  display: block;
  padding: 14px 21px;

  /*border-radius: 2px 2px 0 0;
  font-size: 20px;*/
  font-weight: normal;
  text-transform: uppercase;
  background: #fff;
  cursor: pointer;
  position: relative;
  /*top: 4px;*/
  color: #000;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.MenuSettingInterior #Forza:hover {
  background: #0f85fa;
  color: white;
}
.MenuSettingInterior .bc-content {
  /*z-index: 2;
  */display: none;
  /*overflow: hidden;*/
  width: 100%;/*
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  */position: absolute;
  top: 76px;
  left: 13px;
  /*background: #612e76;*/
}
.MenuSettingInterior .MenuSettingList [id^="bc"]:checked + #Forza{
  width: 100%; position: absolute; height: 59px; top:0;left:0; font-size: 25px;color:white;
}
.MenuSettingInterior [id^="bc"]:checked + #Forza {
  /*padding-top: 17px;*/
  /*background: #000;*/
  color: #000;
  background: #0F85FA;
}

.MenuSettingInterior [id^="bc"] + #Forza .fa-arrow-left{
  display: none;
}
.MenuSettingInterior [id^="bc"]:checked + #Forza .fa-arrow-left{
  display: inline-block;
}


.MenuSettingInterior [id^="bc"]:checked ~ [id^="bc-content"] {
  display: block;
  color: white;
}


.Form-BC{
  padding: 0;
  margin:  0;
  overflow-y:scroll;
  height: 700px;
  min-height: 450px;
}

.MenuSettings{
  position: fixed;
  top: 60px;
  background: #4d4d4d;
  /*width: 25%;*/
  /*width: 34em;*/
  /*width: 512px;*/
  width: 450px;
  height: 100%;
  right: -512px;
  padding: 0;
  list-style: none;
   /*display: none;*/
   z-index: 2;
   /*visibility: hidden;*/
}
.MenuSettings .MenuSettingInterior{
  padding: 0;
  list-style: none;
  text-transform: uppercase;

}
.MenuSettings .MenuSettingInterior .MenuSettingList{
   /* background: #fff;
    padding: 14px 21px;*/
    margin: 20px;
    font-size: 1.3em;
    text-align: center;
}

.MenuSettings .MenuSettingInterior .MenuSettingList:hover{
    /*background: #0F85FA;*/
    background: #000;
}

/*.MenuSettings .MenuSettingInterior .MenuSettingList:hover label{
    /*background: #0F85FA;*/
  /*  color: #000;
}*/

.MenuSettings .MenuSettingInterior .MenuSettingList:hover .ajustesMenuLink{
    color: #fff;
     background: #0f85fa;

}
.MenuSettings .MenuSettingInterior .MenuSettingList .ajustesMenuLink{
  color: #000 !important;
  display: block;
  width: 100%;
  height: 100%;
  padding: 14px 21px;
  background: #fff;

}

.MenuSettings .MenuSettingInterior .MenuSettingList .ajustesMenuLink:hover{
  text-decoration: none;
}
.ActualizarCuenta,.CancelarCuenta{
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.CancelarCuentaCtn{
  width: 75%;
  margin: 0 auto;
}
.CancelarCuentaCtn textarea{
   height: 250px;
}

#CancelarSuscripcion{
  cursor: pointer;
}
.ActualizarCuentaCtn{
  width: 75%;
  margin: 0 auto;
  color: white;

}


.ActualizacionDeFechaTermino{
  background: white;
  line-height: 25px;
  text-align: center;
  color: #000;
  font-family: 'TradeGothicLTPro-Bold';
  padding: 15px;
  box-sizing: border-box;
  margin-top: 1.5em;
}

.iconoActualizarTarjeta{
  background: white;
  padding: 4px;
  color: #000;
  border-radius: 4px;
}

.ActualizarCuentaCtn a{
  color: white;

}




/*SETNAVEGACION GENERAL DE LOS DISEÑOS*/

    .setNav {
  /*width: 650px;*/
  /*float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;*/
  border-left: 1px solid #000;
  padding: 0 !important;
}
/*.setNav li {
  float: left;
  display: block;
}*/
.setNav input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.setNav #SetLabel1, .setNav #SetLabel2{
  display: block;
  padding: 20px 20px 0 20px;
  /*padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #8e44ad;
  cursor: pointer;
  position: relative;
  top: 4px;*/
  top: -1px;
  position: relative;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.setNav #SetLabel1 span, .setNav #SetLabel2 span{

  display: none;
  color: white;
  top: 12px;
  font-size: 25px;
  right: 3em;
  position: absolute;
  text-transform: uppercase;
}
.setNav label:hover {
  /*background: #703688;*/

  color: #fff;
}
.setNav .tab-content {
  /*z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #612e76;*/
}

.setNav [id^="set"]:checked + #SetLabel1, .setNav [id^="set"]:checked + #SetLabel2 {
  background: #000;
  position: absolute;
  /*width:  34em;*/
  width: 450px;
  right: 0;
  height: 61px;
  z-index: 1;
 }


 .setNav [id^="set"]:checked + #SetLabel1 span,.setNav [id^="set"]:checked + #SetLabel2 span{
  display: block;
 }
.setNav [id^="set"]:checked + #SetLabel1 .lupa {

  background: url(../img/iconos/buscar-blanco.svg)no-repeat;
  position: absolute;
  right: 11px;
  top: 9px;
  left: inherit;
}

.setNav [id^="set"]:checked + #SetLabel2 .engrane {

  background: url(../img/iconos/settings-blanco.svg)no-repeat;
  position: absolute;
  right: 2em;
  top: 9px;
}

.setNav .engrane{
   background: url(../img/iconos/settings.svg)no-repeat;
  display: block;
      height: 41px;
    width: 40px;
    background-size: cover;
    position: relative;
    top: -10px;
}

.setNav .lupa{
  background: url(../img/iconos/buscar.svg)no-repeat;
  display: block;
  height: 41px;
    width: 40px;
    background-size: 80%;
    position: relative;
    top: -7px;
    left: 3px;
}
.setNav [id^="set"]:checked ~ [id^="set-ctn"] {
  right: 0;

}

        .cuadro{
          display: none;
          height: 20px;
          width: 20px;
         background: #f60;
        }
   .ls{
          display: inline-block;
        }



/*button de usuario*/

   .BtnUsuario {

  border-left: 1px solid #000;
  padding: 0 !important;
}
/*.setNav li {
  float: left;
  display: block;
}*/
.BtnUsuario input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.BtnUsuario #BtnUse1{
  display: block;
  padding: 1px;
  width: 100%;
  height: 100%;
  color: #000;
  margin-bottom: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.BtnUsuario #BtnUse1 span{
  font-size: 25px;
  position: relative;
  top: 0.5em;
  left: 1em;

}
.BtnUsuario #BtnUse1:hover {


  color: #fff;
}
.BtnUsuario .Btnctn {
  position: fixed;
  background-color: #666;
  height: 100%;
  /*display: none;*/
  /*width: 25%;^*/
  /*width: 34em;*/
  width: 350px;
  padding: 8px;
  left: -512px;


}

#BtnUser1:checked + #BtnUse1 span{
top: 0.2em;


}
.BtnUsuario [id^="BtnUser"]:checked + #BtnUse1 {
  background: #000;
  color: white;
 }

 #BtnUse1 .icono-usuario {
  display: none !important;
  position: relative;
  left: -3px;
  top: 0;
 }
 #BtnUse1 .fa-user{
   display: none;
   text-indent: -9999px;
 }
.BtnUsuario [id^="BtnUser"]:checked + #BtnUse1 .icono-usuario {
  display: inline-block !important;
  width: 58px;
 }




.BtnUsuario [id^="BtnUser"]:checked ~ [id^="Btnctn"] {
  display: block;
}
/*stylos de control podcast*/

#progress {
           -webkit-appearance:none;
            appearance: none;
            -moz-appearance: none;
            background-color: #0f85fa;
            height: 12px;
            width: 100%;
         }
         #progress::-webkit-slider-runnable-track{
            -webkit-appearance:none;
            appearance: none;
            background-color: #0f85fa;
            height: 12px;
            width: 100%;


         }

         #progress::-webkit-slider-thumb{
            -webkit-appearance:none;
            background-color: #fff;
            vertical-align: middle;
            margin-top: -6px;
            width: 10px;
            height: 24px;



         }
         #progress::-moz-range-track{
            -moz-appearance:none;
            appearance: none;
            background-color: #0f85fa;
            height: 12px;
            width: 100%;


         }

         #progress::-moz-range-thumb{
             -moz-appearance:none;
            background-color: #fff;
            vertical-align: middle;
            margin-top: -6px;
            width: 10px;
            height: 24px;

         }
         .bgaudio{
          background: #333;
         width: 100%;
            height: 12px;
             position: relative;
             top: 14px;
             z-index: -1;

         }
         .ControlesAudio{
           width:95%;
           margin: 0 auto;
             position: relative;
            box-sizing: border-box;

         }

         .ControlesAudio #progresoAudio{
           display: block;


         }
         .ControlesAudio #progresoAudio #progeses{
           display: block;
         }
         .ControlesAudio #actual, .ControlesAudio #duracion{
          color: white;
         font-size: 1.2em;
            box-sizing: border-box;
            position: relative;
            margin-top: 10px;

         }
         .ControlesAudio #actual{
          float: left;
         }

         .ControlesAudio #duracion{
          float: right;
         }
         #btnAudio{
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          -webkit-flex-direction: row;
        position: relative;
        margin-top: 2.5em


         }


#playlist{
	margin:80px 0px 0px 0px;
	padding:0px;
	}

         #playlist li{
           overflow: hidden;
           position: relative;
					 list-style:none;
           display: inline-block;
           width: 100%;
           font-family: 'dinRegular';
           font-size: 1.3em;
					 padding:0.8em;
					 color:#ffffff;
					 background:#000000;
					 margin-bottom:0.7em;
         }

         #playlist li .tituloPodcastsBase{
           overflow: hidden;
           position: relative;
					 list-style:none;
           display: inline-block;
           width: 368px;
           font-family: 'dinRegular';
           text-transform: lowercase;
         }

         #playlist li .tituloPodcastsBase:first-letter{
           text-transform: uppercase;
         }
         #playlist li.active{
            background: #0f85fa;
            color: white;
         }


         #playlist li .infoicon{
					 position:absolute;
					 width:2em;
					 right:4.6em;
					 float:right;
					 }

         #playlist li .lenght{
					 /*position:absolute;*/
					 width:4.4em;
					 right:0.5em;
					 float:right;
					 text-align:right;
/*					 border:1px solid #fff; */
					 }
					




         #btnAudio button{
          width: 33.333%;
          background: #333;
          border: none;
          padding-top: 2px;
          margin-right: 5px;
          font-size: 1.5em;
          color: white;
          cursor: pointer;
          height: 41px;

         }

          #btnAudio button:hover{

            opacity: 0.8;


         }
 #btnAudio input[type="checkbox"]{
   position: absolute;
   left: -9999px;
   top: -9999px;
   display: none;

}

#btnAudio input[type="checkbox"]:checked ~ #LabelPlay #pauseBtn{
   display: inline-block;

}

#btnAudio input[type="checkbox"]:checked ~ #LabelPlay #playBtn{
   display: none;

}

#btnAudio input[type="checkbox"] +  #LabelPlay #pauseBtn{
   display: none;

}


.btnRedesPodcasts {

  }.btnRedesPodcastsCtn{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    padding: 0;
    list-style: none;
  }

  .btnRedesPodcastsCtn li{
    box-sizing: border-box;
    width: 33.333%;
    padding: 2px;
    background: #333;
    margin-right: 5px;
    text-align: center;


  }
  .btnRedesPodcastsCtn li:last-child{
    margin-right: 0;
  }



#LabelPlay{
  background: #333;
  text-align: center;
  cursor: pointer;
 width: 33.33%;
 margin-bottom: 0;
margin-right: 5px; }
/*Height personalizado general para todos los menus*/
/*.heightPersonal{
  overflow-y: scroll;
  height: 800px;
}*/
@media(max-width: 1301px){


/*tabs*/

.tabs li{
  width: 28.6% !important;

}
.tabs li span{
  display: none !important;
}

.seguidores {
    /*width: 17.666% !important;*/
    width:67px;
    height:45px;
    padding: 10px 0px;
    text-transform: uppercase !important;
    font-family: "dinregular";
    font-size: 0.7em;
}


    .activity li a{
      font-size: 0.8em !important;
    }

}


#buttons{
	width:100%;
	max-width:100%;
	}

#ButtonShare, #ButtonLike{width:48%;}
.PlayerButton {
	background-color:#333333;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.3em;
    text-decoration:none;
	height:40px;
	width:32%;
    border:none;
}
.PlayerButton:hover {
	background-color:#504f4f;
}
.PlayerButton:active {
	position:relative;
	top:1px;
}

.CollecButton{
	background-image:url(/convoy-webapp/img/collection.svg);
	background-color:#333333;
	/*display:inline-block;*/
    display:none;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.3em;
    text-decoration:none;
	height:40px;
	width:32%;
	background-position: center;
	background-repeat:no-repeat;
	border:none;
	}
	
.CollecButton:hover {
	background-color:#504f4f;
}
.CollecButton:active {
	position:relative;
	top:1px;
}
	

.FollowerImage{
	width:50px;
	}
/*
Para Pc
.changeHeight{
	height:645px;
	}
*/
	
	
/*

Para tablet
	.changeHeight{
	height:445px;
	}
	
*/ 
	
@media (max-width: 1100) {
  .changeHeight {
    height:645px;
  }
}
@media (max-width: 900px) {
  .changeHeight {
    height:445px;
  }
}



/* ------ STYLES EDIT > 02-17-16 ------ */

/* NEWS */
.col-md-12.col-sm-12.col-lx-12.innerNews{
    float:none;
    margin:0 auto;
    max-width:750px;
}

.col-md-4.col-sm-12.ctn-share {
    width: 100%;
    border-top: 1px solid #000;
    padding: 0;
    height:60px;
}
.ctn-share .share {
    padding: 0;
    list-style: none;
    position: relative;
    margin-left: 0;
    width: 100%;
    display: inline-block;
    background-color: #fff;
}
.text-contener.col-md-12.col-sm-12.innerNews a:hover{color:#0f85fa !important;}


.col-md-12.col-sm-12.col-lx-12.innerNews .text-contener{letter-spacing:0.01em;}

/* PODCASTS */
div#carga_podcast_new {text-align: center;}
div#carga_podcast_new:last-child{text-align:left;}

#Loader h1, #Loader p.podcTitleDesc{
    font-family:'TradeGothicLTPro-Bold', Verdana;
    text-transform:uppercase;
}
#Loader p{font-family:'dinRegular';}
.Episode i.fa.fa-info-circle {display: none;}

.progressContainer{
    width: 97%;
    height: 30px;
    position: relative;
    margin-top: -20px;
}
.progressContainer input#seekbardos[type="range"]{
    width:100%;
    position:absolute; top:0;
    -webkit-appearance: none;
    background-color:#666;}
.progressContainer progress#seekbardos[value] {
    width:100%; height:100%;
    -webkit-appearance: none;
    appearance: none;
}
.progressContainer input#seekbardos[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height:20px;
    width: 16px;
    border-radius:0;
    background: #0f85fa;
    margin-top:0px;
    cursor:pointer;
}

.progressContainer progress#seekbar[value]::-webkit-progress-value {
    background-color:#000;
}

.col-md-4 {
    height: 90vh;
    overflow-y: scroll;
}

.podcLike{color:#0f85fa;}
.podcLikeRelleno{background-position:3px -47px}
.pocdEpisNo {float: left;}

/* STREAM */
.PlayerButton.playerRadio {width: 100%; height:33px;}
button#ButtonInfo{background-color:#666;}
#LoaderInfo{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    z-index:9999;
}
.botonesStream {
    bottom:13%;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    float: none;
    z-index: 9;
    display: block !important;
    width: 361px;
}

.radioDesc {
    background: #fff;
    color:#000;
    padding: 15px;
    width: 350px;
    margin: 25px auto;
}
.radioDesc p{    font-family: 'dinregular';}

.closeRadioInfo{
    color: #000;
    cursor:pointer;
    float:right;
    text-transform: uppercase;
    font-size: 1em;
    opacity: 0.6;
}
.closeRadioInfo:hover{opacity:0.3;}

/* PROFILE EDIT */
div#resultado_perfil{height:65%; overflow-y:scroll; }

/* PASSWORD RESET */
.btn-block {
    background: #0F85FA;
    padding: 2px;
    text-transform: uppercase;
    color: #fff;
    font-family: "TradeGothicLTPro-Bold";
    font-size: 1.5em;
    width: 300px;
    margin: 0 auto;
}

@media(max-width: 1024px){ .podcasts{width:48%;}}

.searchItem {
  background-color: #FFF;
  margin: 7px;
  color: #000;
}

.searchAvatar {
  margin: 6px;
}

.selectedSearchButton {
  background: #000 !important;
  color: #FFF !important;
}

.selectedSearchButton:hover {
  background: #FFF !important;
  color: #000 !important;
}

.searchItem .pull-right {
  float: right !important;
}

.searchItem a:hover {
  color: #000 !important;
}

.searchItem span.grayPersonIcon, .searchItem span.bluePersonIcon:hover{
  background: url(../img/iconos/iconos-activity.png)no-repeat;
  background-position: center -14px;
  background-size: 100%;
}

.searchItem span.bluePersonIcon, .searchItem span.grayPersonIcon:hover{
  background: url(../img/iconos/iconos-activity.png)no-repeat;
  background-position: center -48px;
  background-size: 100%;

}

.searchItem .follow {
  display: inline-block;
  width: 51px;
  height: 35px;
  margin-top: 17px;

}

.searchItem .profileInfo {
  display: inline-block;
  width: 100%;
}

.searchItem .profileInfo span{
  display: block;
}