/**
 * @license
 * MyFonts Webfont Build ID 3099889, 2015-09-29T16:57:42-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: TradeGothicLTPro-Bold by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/trade-gothic/pro-bold/
 * Copyright: Copyright &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Trade Gothic is either a registered trademark
 * Licensed pageviews: 250,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3099889
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2f4cf1");

  
@font-face {font-family: 'TradeGothicLTPro-Bold';src: url('webfonts/2F4CF1_0_0.eot');src: url('webfonts/2F4CF1_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F4CF1_0_0.woff2') format('woff2'),url('webfonts/2F4CF1_0_0.woff') format('woff'),url('webfonts/2F4CF1_0_0.ttf') format('truetype');}
 